{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>{{ 'app.edit_answer'|trans({}, "messages") }}</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_answer_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
