{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>{{ 'app.answers'|trans({}, "messages") }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.text'|trans({}, "messages") }}</th>
                <th>{{ 'app.consulter'|trans({}, "messages") }}</th>
                <th>{{ 'app.question_title'|trans({}, "messages") }}</th>
                <th>{{ 'app.createdAt'|trans({}, "messages") }}</th>
                <th>{{ 'app.updatedAt'|trans({}, "messages") }}</th>
                <th>{{ 'app.actions'|trans({}, "messages") }}</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.text }}</td>
                <td>{{ answer.user.username }}</td>
                <td>{{ answer.question.title }}</td>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ answer.updatedAt ? answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_answer_show', {'id': answer.id}) }}">{{ 'app.show'|trans({}, "messages") }}</a>
                    {% if answer.user.username == app.user.username %}
                        <a href="{{ path('app_answer_edit', {'id': answer.id}) }}">{{ 'app.edit'|trans({}, "messages") }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'app.no_records'|trans({}, "messages") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_answer_user_index') }}">{{ 'app.my_answers'|trans({}, "messages") }}</a>

{% endblock %}
