{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <h1>{{ 'app.create_answer'|trans({}, "messages") }}</h1>

    {{ include('answer/_form.html.twig') }}

    <a href="{{ path('app_answer_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>
{% endblock %}
