{% extends 'base.html.twig' %}

{% block title %}Answer{% endblock %}

{% block body %}
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'app.text'|trans({}, "messages") }}</th>
                <td>{{ answer.text }}</td>
            </tr>
            <tr>
                <th>{{ 'app.consulter'|trans({}, "messages") }}</th>
                <td>{{ answer.user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'app.question_title'|trans({}, "messages") }}</th>
                <td>{{ answer.question.title }}</td>
            </tr>
            <tr>
                <th>{{ 'app.createdAt'|trans({}, "messages") }}</th>
                <td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'app.updatedAt'|trans({}, "messages") }}</th>
                <td>{{ answer.updatedAt ? answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
        </tbody>
    </table>

    <a href="{{ path('app_answer_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>

    {% if answer.user.username == app.user.username %}
        <a href="{{ path('app_answer_edit', {'id': answer.id}) }}">{{ 'app.edit'|trans({}, "messages") }}</a>

        {{ include('answer/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
