{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
    <form method="post" class="mx-auto col-10 col-md-6 col-lg-4">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3" style="direction: rtl">
                {{ 'app.already_logged_in_{username}'|trans({username: app.user.userIdentifier}, "messages") }} <a href="{{ path('app_logout') }}">{{ 'app.logout'|trans({}, "messages") }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'app.sign_in'|trans({}, "messages") }}</h1>
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'app.sign_in'|trans({}, "messages") }}
        </button>
    </form>
</div>
{% endblock %}
