{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row">
    <div class="mx-auto col-10 col-md-6 col-lg-4">
        <h1>{{ 'app.register'|trans({}, "messages") }}</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 10px;">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
