<form method="post" action="{{ path('app_question_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn">{{ 'app.delete'|trans({}, "messages") }}</button>
</form>
