{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>{{ 'app.edit_question'|trans({}, "messages") }}</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_question_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
