{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>{{ 'app.create_question'|trans({}, "messages") }}</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('app_question_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>
{% endblock %}
