{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'app.title'|trans({}, "messages") }}</th>
                <td>{{ question.title }}</td>
            </tr>
            <tr>
                <th>{{ 'app.text'|trans({}, "messages") }}</th>
                <td>{{ question.text }}</td>
            </tr>
            <tr>
                <th>{{ 'app.user'|trans({}, "messages") }}</th>
                <td>{{ question.user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'app.createdAt'|trans({}, "messages") }}</th>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'app.updatedAt'|trans({}, "messages") }}</th>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'app.answer_count'|trans({}, "messages") }}</th>
                <td>{{ answer_count }}</td>
            </tr>
            <tr>
                <th>{{ 'app.cnslt'|trans({}, "messages") }}</th>
                <td>{{ consulter_count }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_question_index') }}">{{ 'app.back_to_list'|trans({}, "messages") }}</a>

    {% if question.user.username == app.user.username %}
        <a href="{{ path('app_question_edit', {'id': question.id}) }}">{{ 'app.edit'|trans({}, "messages") }}</a>
    {% endif %}

    {% if is_granted('ROLE_CONSULTER') %}
        <a href="{{ path('app_answer_new', {'id': question.id}) }}">{{ 'app.answer'|trans({}, "messages") }}</a>
    {% endif %}

    {% if question.user.username == app.user.username %}
        {{ include('question/_delete_form.html.twig') }}
    {% endif %}
    <hr>
    {% for answer in answers %}
        <div style="background-color: #f0e9a1; padding-left: 20px; padding-right: 20px;">
            <p><i>{{ answer.user.username }}:</i><br>
                {{ answer.text}}</p>
            <span style="font-weight: lighter">At: {{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</span>
            &nbsp;&nbsp;&nbsp;
            <span style="font-weight: lighter">Updated: {{ answer.updatedAt ? answer.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
        </div>
        <hr>
    {% else %}
        no records found
    {% endfor %}
{% endblock %}
