{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>{{ 'app.my_questions'|trans({}, "messages") }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.title'|trans({}, "messages") }}</th>
                <th>{{ 'app.text'|trans({}, "messages") }}</th>
                <th>{{ 'app.user'|trans({}, "messages") }}</th>
                <th>{{ 'app.createdAt'|trans({}, "messages") }}</th>
                <th>{{ 'app.updatedAt'|trans({}, "messages") }}</th>
                <th>{{ 'app.actions'|trans({}, "messages") }}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.user.username }}</td>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    {% if question.user.username == app.user.username %}
                        <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}">{{ 'app.create_question'|trans({}, "messages") }}</a>
    <a href="{{ path('app_question_index') }}">{{ 'app.all_questions'|trans({}, "messages") }}</a>
{% endblock %}
