$background-color: #e3e3e3;

@import "~bootstrap";

body{
    background-color: $background-color;
    padding-left: 10px;
    padding-right: 10px;
}

.main-links{
    margin-left: 25px;
    min-width: 80px;
    border: 1px solid black;
    background-color: #2b3035;
    color: whitesmoke;
    text-decoration: none;
}
