<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 10%; padding-right: 10%">
            <h1 class="navbar-brand" href="#" style="font-weight: bolder">Q?A</h1>

            {% if app.user %}
                <p style="margin-left: 100px;">{{ app.user.username }}</p>
                <a class="main-links" id='register-btn' href="{{ path('app_logout') }}" style="margin-left: 25px;
                                                                    text-align: center;
                                                                    min-width: 80px;
                                                                    border: 1px solid #590505;
                                                                    background-color: #590505;
                                                                    color: whitesmoke;
                                                                    text-decoration: none;">
                    {{ 'app.logout'|trans({}, "messages") }}</a>
            {% else %}
                <a class="main-links" id="sign-in-btn" target="_blank" href="#" style="margin-left: 25px;
                                                                    text-align: center;
                                                                    min-width: 80px;
                                                                    border: 1px solid #225b95;
                                                                    background-color: #225b95;
                                                                    color: whitesmoke;
                                                                    text-decoration: none;">
                    {{ 'app.sign_in'|trans({}, "messages") }}</a>
                <a class="main-links" id='register-btn' target="_blank" href="#" style="margin-left: 25px;
                                                                    text-align: center;
                                                                    min-width: 80px;
                                                                    border: 1px solid #05622b;
                                                                    background-color: #05622b;
                                                                    color: whitesmoke;
                                                                    text-decoration: none;">
                    {{ 'app.register'|trans({}, "messages") }}</a>

            {% endif %}



            <div  style="margin-left: 70%; margin-right: auto">
                <select name="language" id="language" style="">
                    <option value="na"><a id="na-link">en/فا</a></option>
                    <option value="en"><a id="en-link">English</a></option>
                    <option value="fa"><a id="fa-link">فارسی</a></option>
                </select>
            </div>


        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
